# CSV  
./stroke_dataset.csv
# Jupyter Notebook
.ipynb_checkpoints/



                                                                                                                                  